<!DOCTYPE html>
<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <title></title>
	
	<link href="/libs/bootstrap/dist/bootstrap.css" ></link>
	
  </head>
  <body>
    <header>
			<p>I&#39;m in the header.</p>
    </header>
	
		<%- body %>
  
	
    <footer>
		<p>I&#39;m in the footer.</p>
    </footer>
	
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
